<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Price Records</title>  
    {% load staticfiles %}  
    <link rel="stylesheet" href="{% static 'css/harga.css' %}"> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>  
<body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>  
<table class="table table-striped table-dark">  
    <thead class="thead-light">
    <tr>
        <center><h3>Daftar Harga CV. Jaya Abadi</h3></center>
        <br>
        <center><a href="/home_harga" class="btn btn-primary">Add New Record</a></center><a href="/" class="btn btn-warning">Back</a>  
    </tr>
    <br>  
    <tr>  
        <th>Sparepart</th>  
        <th>Model</th>
        <th>Harga</th>
        <th>Actions</th>   
    </tr>  
    </thead>  
    <tbody>  
{% for d in datas %}  
    <tr>  
        <td>{{ d.sparepart }}</td>  
        <td>{{ d.model }}</td>
        <td>{{ d.harga }}</td>  
        <td>  
            <a href="/edit_harga/{{ d.id }}"><span class="glyphicon glyphicon-pencil" >Edit</span></a>  
            <a href="/delete_harga/{{ d.id }}">Hapus</a>  
        </td>  
    </tr>  
{% endfor %}  
    </tbody>  
</table>  
</body>  
</html>  