<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Halo</h1>
</body>
<form action="/nama_anda_url/" method="post">
    <label for="nama_anda">Masukkan Nama: </label>
    <input id="nama_anda" type="text" name="name_field" value="Nama Anda">
    <input type="submit" value="OK">
</form>
<form action="/Tugas_Pagi_Hari_url/" method="post">
    <label for="Tugas_Pagi_Hari">Tugas Pagi: </label>
    <input id="Tugas_Pagi_Hari" type="text" name="name_field" value="Masukkan Tugas">
    <input type="submit" value="OK">
</form>

</html>