<!DOCTYPE html>
<html lang="en">
<head>
<style>
table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
}
td, th {
    text-align: left;
    padding: 5px;
}
tr {
    border: 1px solid #29fffb;
    text-align: left;
}
button {background-color: crimson;}
button2 {background-color: darkgreen;}
button3 {background-color: darkorange;}
</style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>ToDo List</title>
</head>
<body>
    <h3>Todo List</h3>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <form action="/nama_anda_url/" method="post">
        <label for="Task">Tambah Task </label><br>
        <input id="Task" type="text" name="name_field"><br>
        <button type="button" class="btn btn-primary">Tambah</button>
    </form>
    <table>
        <tr>
          <th>#</th> 
          <th>Task</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
        <tr>
          <td>1</td>
          <td>Task ke 1</td>
          <td>Done</td>
          <td><input type="submit" value="Detail">
            <input type="submit" value="Edit">
            <input type="submit" value="Hapus"></td>
        </tr>
        <tr>
            <td>2</td>
            <td>Task ke 2</td>
            <td>Done</td>
            <td><input type="submit" value="Detail">
              <input type="submit" value="Edit">
              <input type="submit" value="Hapus"></td>
        </tr>
        <tr>
            <td>3</td>
            <td>Task ke 3</td>
            <td>Done</td>
            <td><input type="submit" value="Detail">
              <input type="submit" value="Edit">
              <input type="submit" value="Hapus"></td>
        </tr>
        <tr>
            <td>4</td>
            <td>Task ke 4</td>
            <td>Done</td>
            <td><input type="submit" value="Detail">
              <input type="submit" value="Edit">
              <input type="submit" value="Hapus"></td>
        </tr>
        <tr>
            <td>5</td>
            <td>Task ke 5</td>
            <td>Done</td>
            <td><input type="submit" value="Detail">
              <input type="submit" value="Edit">
              <input type="submit" value="Hapus"></td>
        </tr>
      </table>
</body>
</html>